<%= render "shared/header" %>

<div class="main">

    <h4>
        <%= @capitulo %>
    </h4>

</div>

<footer>
    <p>
        <small>
            <%= "Voce esta em ambiente de #{ambient_rails}" %>
        </small>
    </p>
</footer>